body {
  background-color: #edf5e1;
}

#header {
  width: 90vw;
  display: grid;
  grid-template-areas: "title score-label score-label"
                       "title score score"
                       "description undo restart";
  grid-template-columns: 70% 15% 15%;
  grid-template-rows: 20px 80px 30px;
  margin: 20px auto 20px auto;
  padding: 10px;
}

#title {
  grid-area: title;
  height: 100px;
  font-size: 80px;
  font-family: Quicksand;
}

#score-label {
  grid-area: score-label;
  height: 20px;
  font-size: 16px;
  text-align: center;
  margin: 10px auto 0px auto;
}

#score {
  grid-area: score;
  height: 80px;
  font-size: 48px;
  margin: auto;
}

#description {
  grid-area: description;
  font-size: 15px;
  margin: auto auto auto 0px;
}

#undo {
  grid-area: undo;
  background: none;
  border: none;
}

#restart {
  grid-area: restart;
  background: none;
  border: none;
}

button:hover {
  color: #bbb;
}

@media screen and (orientation: landscape) {
  #header {
    width: 400px;
  }
}

#log {
  font-size: 10px;
}
